data/metaproteomics/combined_peptide.tsv filter=lfs diff=lfs merge=lfs -text
data/metaproteomics/combined_protein.tsv filter=lfs diff=lfs merge=lfs -text
data/metaproteomics/functions.tsv filter=lfs diff=lfs merge=lfs -text
